<script type="text/javascript">
// Toggle comments section. Hidden by default.
function toggleComments() {
    var d = document.getElementById('div_comments');
    var a = document.getElementById('a_comments');
    if (d.style['display'] == 'none') {
        d.style['display'] = 'block';
        a.innerHTML = 'Hide Comments ▴';
    } else {
        d.style['display'] = 'none';
        a.innerHTML='Show Comments ▾';
    }
    return false;
}
</script>

<a id="a_comments" href="#" onclick="javascript:toggleComments(); return false;">Show Comments ▾</a>

