{% if site.disqus %}
<div id="disqus_thread"></div>
<script type="text/javascript">
  {% if page.meta.dsq_thread_id %}
  var disqus_identifier = "{{page.url}}"; //  NOT WORKING: "{{page.meta.dsq_thread_id}}";
  {% else %}
  var disqus_identifier = "{{page.url}}";
  {% endif %}
  var disqus_url = "http://{{site.domain}}{{page.url}}";
  (function() {
  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
  dsq.src = 'https://{{ site.disqus.name }}.disqus.com/embed.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript={{ site.disqus.name }}">comments powered by Disqus.</a></noscript>
{% endif %}
