{% for page in paginator.posts %}
{% if page.layout == 'post' %}
<div class="post text">
{% else %}
<div class="post {{page.layout}}">
{% endif %}
  <span class="icon"><a href="{{ page.id }}/">{{ page.title }}</a></span>
  <span class="meta">
    <a href="{{ page.id }}/" class="timestamp">{{ page.date | date: '%d %b, %Y'}}</a>
    <a href="{{ page.id }}/#disqus_thread" class="count">Comments</a>
  </span>
  {% if page.layout == 'quote' %}
  <div class="body">
    <blockquote>
    {{ page.content }} 
    </blockquote>
  </div>
  <div class="source">
   {{ page.source | markdownify }}
  </div>  
  {% elsif page.layout == 'link' %}
  <span class="ttl"><a href="{{ page.link }}"> {{ page.title }}</a></span><span class="inf"> &rarr; </span>
  <div class="body">
    {{ page.content }} 
  </div>
  {% else %}
  <span class="ttl"><a href="{{ page.id }}/">{{ page.title }}</a></span>
  <div class="body">
    {{ page.content }}
  </div>
  {% endif %}

  <hr class="flourish">
</div>
{% endfor %}
