<!-- Markdown does not have option to add target attribute 
     & this cannot be done using CSS, since this is not a 
     visual style. So, use jQuery for all absolute URLs! 
-->
<script type="text/javascript">
$(document).ready( function(){
   $.each( $("a").filter( function(){ 
                      try { // In case the anchor does not have href.
                          return !$(this).attr('href').match(/^[\/#]/); // URL is relative: starts with / or #
                      } catch (e) {
                          return true;
                      }
                  }),
           function( index, tag ) { 
               $(tag).attr('target', '_blank');
           });
});
</script>

<script type="text/javascript">
// This adds x comments & y reactions. Based on Tumblr theme: munichtheme.tumblr.com
//<![CDATA[
(function() {
    var links = document.getElementsByTagName('a');
    var query = '?';
    for(var i = 0; i < links.length; i++) {
    if(links[i].href.indexOf('#disqus_thread') >= 0) {
        query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
    }
    }
    document.write('<script charset="utf-8" type="text/javascript" src="https://disqus.com/forums/{{site.disqus.name}}/get_num_replies.js' + query + '"></' + 'script>');
})();
//]]>
</script>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("{{site.google.analytics-id}}");
pageTracker._trackPageview();
</script>

