<div id="top">
  <div id="header">
    <h1><a href="/">{{ site.title }}</a></h1>
    <span id="tagline">{{ site.tagline }}</span>
  </div>
</div>

<br />

<div id="navigation">
  <ul id="nav">
    <li id="hm"><a href="/">Home</a></li>
    <li><a rel="author" href="{{site.folder}}/about.html">About</a></li>
    <li><a href="{{site.folder}}/search.html">Search</a></li>
    <li><a href="{{site.folder}}/colophon.html">Colophon</a></li>
    <li><a href="{{site.folder}}/archive.html">Archive</a></li>
    <li id="hm"><a href="{{site.folder}}/tags.html">Tags</a></li>
    <li id="hm"><a href="/atom.xml">RSS Feed</a></li>
  </ul>
  <br class="clear">  
</div>
