---
layout: page
---

<div>
<p><img src="http://media.tumblr.com/tumblr_lpzn4377uA1qz66a5.jpg" align="left" width="199" height="250" /></p>
<p><br />Programmer, Hacker, Tinkerer. Love to break things &amp; build things. I have worked with Nokia &amp; Yahoo! My primary blog is at <a href="http://saicharan.in/blog">http://saicharan.in/blog</a>.</p>
<p>I am now pursuing a PhD with the <a href="http://www.cs.ucr.edu/index.php">Department of Computer Science</a> at <a href="http://www.ucr.edu">UC Riverside</a>. My advisor is <a href="http://www.cs.ucr.edu/~gupta/">Prof. Rajiv Gupta</a>.</p>

<p>You can find me on Twitter at&nbsp;<a title="Twitter" target="_blank" href="https://twitter.com/scharan">@scharan</a>, on&nbsp;<a title="LinkedIn profile" target="_blank" href="http://www.linkedin.com/in/scharan">LinkedIn</a>&nbsp;&amp;&nbsp;on github at&nbsp;<a title="Github" target="_blank" href="https://github.com/scharan">/scharan</a>.</p>
<p>I can be reached at <a title="e-mail Sai Charan" target="_self" href="mailto:me@saicharan.in">me@saicharan.in</a></p>
</div>

<br />
<table align="center" border="0" width="100%">
<tr>
<td width="20%" align="left">
<a href="{{site.folder}}/colophon.html">Colophon</a>
</td>
<td width="20%" align="center">
 &mdash; 
</td>
<td width="20%" align="center">
<a href="{{site.folder}}/tags.html">Tags</a>
</td>
<td width="20%" align="center">
 &mdash; 
</td>
<td width="20%" align="right">
<a href="{{site.folder}}/archive.html">Archive</a> 
</td>
</tr>
</table>


