---
layout: post
---

<div>
<p><img src="http://media.tumblr.com/tumblr_lpzn4377uA1qz66a5.jpg" align="left" width="199" height="250" /></p>
<p><br />Programmer, Hacker, Tinkerer. Love to break things &amp; build things. I have worked with Nokia &amp; Yahoo! My primary blog is at <a href="http://saicharan.in/blog">http://saicharan.in/blog</a>.</p>
<p>I am now pursuing a PhD with the CS Department at UC Riverside. You can find me on Twitter at&nbsp;<a title="Twitter" target="_blank" href="https://twitter.com/scharan">@scharan</a>, on&nbsp;<a title="LinkedIn profile" target="_blank" href="http://www.linkedin.com/in/scharan">LinkedIn</a>&nbsp;&amp;&nbsp;on github at&nbsp;<a title="Github" target="_blank" href="https://github.com/scharan">/scharan</a>.</p>
<p>I can be reached at <a title="e-mail Sai Charan" target="_self" href="mailto:me@saicharan.in">me@saicharan.in</a></p>
</div>
<br />
