---
layout: post
title: Day Archive
---

<div id="content">
  <div class="post">
    <h1 class="post-title">{{ page.day | date_to_day }} {{ page.month | date_to_month }} {{ page.year }}</h1>
    <p class="lead">Posts from {{ page.day | date_to_day }} / {{ page.month | date_to_month }} / {{ page.year }}</p>
    <ul>
      {% if page.collated_posts[page.year][page.month][page.day] %}
      {% for p in page.collated_posts[page.year][page.month][page.day] reversed %}
      <li><a href='{{ p.url }}'>{{ p.title }}</a></li>
      {% endfor %}
      {% endif %}
      </ul>
    </div>
</div>
