---
layout: default
---

<div class="post text">
  <span class="icon"><a href="{{ page.id }}">{{ page.title }}</a></span>
  <span class="meta">
    <a href="{{ page.id }}" class="timestamp">{{ page.date | date: '%d %b'}}</a>
    <a href="{{ page.id }}/#disqus_thread" class="count"></a>
  </span>
  <span class="ttl"><a href="{{ page.id }}">{{ page.title }}</a></span>
  <div class="body">
    {{ content }}
    
    <br />
    <div style="text-align: center">
      <!-- http://en.wikipedia.org/wiki/Interpunct -->
      &nbsp; &middot; &nbsp; &#12539; &nbsp; &bull; &nbsp; &#12539; &nbsp; &middot; &nbsp;
    </div>
  </div>

  {% if page.tags or page.categories %}
  <br />
  <div class="body">
    Tags&nbsp; &middot; &nbsp;
    {% for tag in page.tags %}
    <a href="{{site.folder}}/tags.html#{{ tag }}">{{ tag }}</a>&nbsp; &middot; &nbsp;
    {% endfor %}
    {% for cat in page.categories %}
    <a href="{{site.folder}}/tags.html#{{ cat }}">{{ cat }}</a>&nbsp; &middot; &nbsp;
    {% endfor %}
  </div>
  {% endif %}
</div>

{% if site.disqus %}
<div id="disqus_thread"></div>
<script type="text/javascript">
  {% if page.meta.dsq_thread_id %}
  var disqus_identifier = "{{page.url}}"; //  NOT WORKING: "{{page.meta.dsq_thread_id}}";
  {% else %}
  var disqus_identifier = "{{page.url}}";
  {% endif %}
  var disqus_url = "http://{{site.domain}}{{page.url}}";
  (function() {
  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
  dsq.src = 'http://{{ site.disqus.name }}.disqus.com/embed.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript={{ site.disqus.name }}">comments powered by Disqus.</a></noscript>
{% endif %}
