---
layout: page
---

<!-- https://gist.github.com/143571#gistcomment-7054 -->
{% if site.tags %}
<h2>Tags</h2>

{% for tag in site.tags %}
  <a href="#{{ tag | first | downcase }}">{{ tag | first }}</a>&nbsp;
{% endfor %}
<br /> <br />

<h2>Articles by tag:</h2>
<ul>
{% for tag in site.tags %}
  <li><a name="{{ tag | first | downcase }}">{{ tag | first }}</a>
    <ul>
    {% for posts in tag %}
      {% for post in posts %}
        {% if post.url or post.title %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
	{% endif %}
      {% endfor %}
    {% endfor %}
    </ul>
  </li>
{% endfor %}
</ul>
{% endif %}

{% if site.categories %}
<h2>Categories</h2>

{% for category in site.categories %}
  <a href="#{{ category | first | downcase }}">{{ category | first }}</a>
{% endfor %}
<br /> <br />

<h2>Articles by Category:</h2>
<ul>
{% for category in site.categories %}
  <li><a name="{{ category | first | downcase }}">{{ category | first }}</a>
    <ul>
    {% for posts in category %}
      {% for post in posts %}
        {% if post.url or post.title %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
	{% endif %}
      {% endfor %}
    {% endfor %}
    </ul>
  </li>
{% endfor %}
</ul>

<br /> <br />
<br /> <br />
{% endif %}

<div id="no-disqus"> </div>
